@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Grenze Gotisch', cursive;
font-family: 'Roboto', sans-serif;
line-height: 1.4;
}
a{
    text-decoration: none;
}
p{
    margin: 1rem;
}

/* utilities */
.primary-text{
    color: rgb(112, 153, 31);

}
.l-heading{
    font-size: 3rem;
}
.m-heading{
    font-size: 2.5rem;
}
.s-heading{
    font-size: 1.2rem;
}
.xs-heading{
    font-size: 0.75rem;
}
.bg-light{
    background: whitesmoke;
    color: black;
}
.bg-dark{
    background:rgb(51, 50, 50);
    color: white;
}
.bg-primary{
    background:rgb(112, 153, 31) ;
    color: white;

}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.px-1{
    padding: 0 1.5rem ;
}
.px-2{
    padding: 0 2rem;
}
.px-3{
    padding: 0 3rem;
}
.p-1{
    padding: 1.5rem ;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.text-center{
    text-align: center;
}
.btn{
    display:inline-block;
    color: white;
    padding: 0.75rem;
    background: rgb(112, 153, 31);
    border-radius: 5px;
}
.btn:hover{
    display:inline-block;
    color: white;
    padding: 0.75rem;
    background: rgb(63, 83, 21);
}
.container{
    padding: 2rem 0;
    max-height: 400px;
}
.list{
    display: block;
    list-style: none;
}
/* navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background: black;
    color: white;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    align-items: center;
        
}
#navbar ul li{
   list-style: none;
   color: white;
   padding: 1rem;
   margin: 5px;
   border-radius: 3px;
}
#navbar ul li a{
    color: white;
 }
 #navbar ul li:hover{
    background: rgb(112, 153, 31);
 }
 /* showcase */
 #showcase{
     background:url("../img/coin.jpg") no-repeat center center;
     background-size: cover;
     height: 100vh;
     opacity: 1;
 }
 #showcase .showcase-content{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 2rem 1rem;
     text-align: center;
     height: 100%; 
     background: rgb(7, 1, 1,0.6); 
 }
 #showcase .showcase-content h1{
     margin-bottom: 1rem;
     color: rgb(112, 129, 184);    
 }
 #showcase .showcase-content p{
     text-align: center;
     font-style: italic;
     color: whitesmoke;
 }

 /* What we do */
 .items{
     display: flex;
     justify-content: space-evenly;
     align-content: center;
 }
 .item{
     padding: 2rem;
 }
 .items i{
     padding: 0.75rem;
     margin: 0.75rem;
     background: yellowgreen;
     border-radius: 50%;
 }
 /* Who are we */
 #who{
     display: flex;
     
 }
 #who div{
     flex: 1;
 }
 #who .team{
background: url("/img/team.jpg") no-repeat center center/cover;

 }
 .list li{
    margin: 0.25rem 0;
 }
 .team-info{
     margin: 1rem 0;
 }
/* clients */

.client-logo{
flex: 1;
padding: 3rem;
}
.client-logo img{
    width: 100%;
    max-height: 6rem;
    border-radius: 50%;
}
.client-logo img:hover{
   border: rgb(236, 23, 23) solid 0.3rem; 
}
/* contact us */
#contact{
    display: flex;
}
#contact div{
    flex: 1;
}
.form-group label{
    display: block;
}
.form-group input{
    height: 1.7rem;
    width: 100%;
    
}
.form-group textarea{
    height: 8rem;
    width: 100%;
}
input[type="submit"]{
    height: 1.7rem;
    width: 100%;
    background:black;
    color: white;
    border: none;
}
input[type="submit"]:hover{
    background:rgb(34, 33, 33);
    border: none;
}

.form-group input:focus,.form-group textarea:focus{
    background: rgb(212, 235, 227);
    
}
/* footer */
#main-footer div{
    height: 30px; 
}
#main-footer h6{
    text-align: center; 
    padding: 0.45rem 0;
}